@font-face{
    font-family: DIN-Bold;
    src: url('../fonts/DIN-Bold.otf'),
        url('../fonts/din_regular-webfont.woff'), 
        url('../fonts/din_regular-webfont.woff2'); 
}
@font-face{
    font-family: DIN-Regular;
    src: url('../fonts/DIN-Regular.otf'),
        url('../fonts/din_regular-webfont.woff'), 
        url('../fonts/din_regular-webfont.woff2'); 
}
a:focus{
    outline: none;
}
.gray{
    /* background-image:linear-gradient(-180deg, #fbfbfb 0%, #ffffff 100%); */
    background: #f7f7f7;
}
.white{
    background: #fff;
}
.black{
    background: #000;
}
.grayness{
    background: #D8D8D8;
}
.isShow{
    transform: translate3d(0,30px,0);
    transition: all 1s cubic-bezier(0.38, 0.32, 0.36, 0.98);
    opacity: 0;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
header{
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19);
    position: fixed;
    z-index: 20;
    width: 100%;
}
header .nav-logo{
    line-height: 60px;
    float: left;
    margin-right: 40px;
    margin-left: 15px;

}
header .nav-logo a img{
    width: 115px;
}
header .logo-text .navbar-nav li{
    padding: 15px 40px;
}
header .logo-text .navbar-nav li a{
    padding: 0;
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #5A5A5A;
    letter-spacing: 0.19px;
    display: inline-block;
    text-align: center;
    position: relative;
    transition: all .3s cubic-bezier(0.38, 0.32, 0.36, 0.98);
}
header .logo-text .navbar-nav li a span{
    display: block;
    font-size: 12px;
    letter-spacing: 0;
}
header .logo-text .navbar-nav li:hover a{
    color: #003E81;
}

header .logo-text .navbar-nav li .class{
    width: 100%;
    margin-top: -1px;
    background: rgb(246, 247, 245);
    border: 0;
    border-top: 2px solid rgba(207, 205, 205, 0.25);
    border-radius: 0;
    /* display: block; */
    z-index: -1;
}
header .logo-text .navbar-nav li .class ul{
    text-align: center;
}
header .logo-text .navbar-nav li .class ul li a p{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #6A6A6A;
    letter-spacing: 0.19px;
    transition: all .3s cubic-bezier(0.38, 0.32, 0.36, 0.98);
    margin-top: 10px;
}
header .logo-text .navbar-nav li .class ul li a:hover p{
    color: #003E81;
}
/* .navbar-nav a:before,
.navbar-nav a:after{
    content:"";
    height: 2px;
    background:none;
    position:absolute;
    top:42px;
    width:0;
    transition:all .5s;
}
.navbar-nav a:before{
    left:50%;
}
.navbar-nav a:after{
    right:50%;
}
.navbar-nav li:hover a:before,
.navbar-nav li:hover a:after{
    background-color:rgba(0, 62, 129, 0.6);
    width:50%;
} */

.shade{
    width: 100%;
    height: 70px;
}

/* phone nav */
.show-menu, .show-menu body,.show-menu .mian{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.mian{
    box-shadow: -2px 2px 20px rgba(100,100,100,.3);
    -webkit-transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
	-moz-transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
    transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
}
.show-menu .mian{
    transform: translate3d(240px,0,0);
}
.mian .back-menu{
    margin-top: 50px;
    display: none;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.show-menu .mian .back-menu{
    display: block;
}
.phoneNav{
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19);
    position: fixed;
    z-index: 20;
    height: 50px;
}
.phoneNav .pnohe-logo{
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -57.5px;
}
.phoneNav .pnohe-logo img{
    width: 115px;
}

.menu-btn{
    float: left;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 15px 0px;
    width: 30px;
}

.menu-btn span {
	display: inline-block;
	width: 22px;
	height: 2px;
	position: absolute;
    user-select: none;
	background-color: #333;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
	-moz-transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
	transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
}

.menu-btn span:nth-of-type(1) {
	top: 7px;
}

.menu-btn span:nth-of-type(2) {
	top: 14px
}

.menu-btn span:nth-of-type(3) {
	top: 21px
}

.menu-btn.btn-close span:nth-of-type(1) {
	top: 14px;
	-webkit-transform: rotatez(45deg);
	-moz-transform: rotatez(45deg);
	transform: rotatez(45deg)
}

.menu-btn.btn-close span:nth-of-type(2) {
	opacity: 0
}

.menu-btn.btn-close span:nth-of-type(3) {
	top: 14px;
	-webkit-transform: rotatez(-45deg);
	-moz-transform: rotatez(-45deg);
	transform: rotatez(-45deg)
}


.menu-panel{
    position: absolute;
    width: 240px;
    transform: translateX(-240px);
    -webkit-transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
    -moz-transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
    transition: all .5s cubic-bezier(0.165,0.840,0.440,1.000);
    height: 100%;
    padding-top: 20px;
}
.show-menu .menu-panel{
    transform: translate3d(0,0,0);
}
.menu-panel .panel-heading{
    padding: 0;
}
.menu-panel .panel-heading .panel-title{
    padding: 10px 15px;
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #5A5A5A;
    letter-spacing: 0.19px;
    display: block;
    padding-left: 30px;
    transition: all .3s cubic-bezier(0.38, 0.32, 0.36, 0.98);
}
.menu-panel .panel-heading .panel-title:hover{
    color: #fff;
    background: #003E81;
}
.menu-panel .panel-heading .panel-title span{
    display: block;
    font-size: 12px;
    letter-spacing: 0;
}
.menu-panel .panel-collapse .panel-body{
    padding-top: 0;
    padding-bottom: 0;
}
.menu-panel .panel-collapse ul li a{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #777;
    letter-spacing: 0.19px;
    display: block;
    padding-left: 30px;
}
.menu-panel .panel-collapse ul li{
    border-bottom: 1px solid #eee;
    padding: 12px 0;
}
.menu-panel .panel-collapse ul li:last-child{
    border-bottom: 0px solid #ddd;
}



/* 模态框 */
.modal-content{
    border-radius: 0;
    background: #000;
    border: 0px solid rgba(0,0,0,.2);
}
.modal-body{
    padding: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 0px solid #000;
    position: absolute;
    z-index: 2;
    width: 100%;
    /* background: rgb(128, 128, 128); */
    /* transition: all 1s cubic-bezier(0.38, 0.32, 0.36, 0.98); */
}
.modal-title{
    color: #333;
}
.close{
    color: #333;
    opacity: .7;
}
.close:focus, .close:hover{
    color: #000;
    opacity: 1;
}
.modal-lg{
    width: 80%;
    max-width: 1300px;
    margin-top: 60px;
}
.modal-content video{
    vertical-align: middle;
}






footer{
    background: #003E81;
    padding: 35px 0;
}
footer .foot-info{
    width: 800px;
    margin-top: 45px;
}
footer .footBrand{
    width: 96px;
}
footer .foot-info p{
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.19px;
}
footer .foot-info .row div:first-child{
    border-right: 1px solid #fff;
}
footer .foot-info .row div:last-child{
    padding-left: 30px;
}

footer .foot-last{
    margin-top: 50px;
    position: relative;
}
footer .foot-last p{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.73px;
}
footer .foot-last p a{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.73px;
}
footer .foot-last .SNS{
    position: absolute;
    top: 0;
    right: 0;
}
footer .foot-last .SNS .qcode{
    display: none;
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: -140px;
    left: -45px;
    box-shadow: 0 2px 44px rgba(0,0,0,0.5);
}
footer .foot-last .SNS .qcode img{
    width: 100px;
    height: 100px;
    display: block;
    margin:  0 auto;
}
footer .foot-last .SNS .qcode span{
    width: 0;
    height: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    position: absolute;
    margin-left: 40px;
    bottom: -10px;
}
footer .foot-last .SNS a{
    display: inline-block;
    width: 32px;
    height: 32px;
}
footer .foot-last .SNS .wechat{
    background-image: url('../img/wechat.png');
    background-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
}
footer .foot-last .SNS .weibo{
    margin-left: 15px;
    background-image: url('../img/weibo.png');
    background-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
}
#footer{
    width: 100%;
    height: 280px;
    position: absolute;
}
.wecode {
    margin-top: 30px;
}
.wecode img{
    width:260px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 60px;
}
.wecode h5{
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    color: #00448c;
    font-weight: 600;
}
.wecode p{
    font-size: 14px;
    text-align: center;
    color: #00448c;
}
/*电脑*/
@media screen  and (min-width:1400px){
    
}
/*笔记本*/
@media screen and (max-width: 1399px) and (min-width: 1200px){

}
/*横向平板*/
@media screen and (max-width: 1199px) and (min-width: 1023px){
    .content,.box{
        width: 100%;
    }
}
/*平板*/
@media screen and (max-width: 1023px) and (min-width: 768px){
    .content,.box{
        width: 100%;
    }
    footer .foot-info{
        width: 100%;
    }
    footer .foot-info p{
        font-size: 12px;
        letter-spacing: 0;
    }
}
/*笔记本高度*/
@media screen and (max-height: 767px) and (min-height: 600px){

}
/*手机*/
@media screen and (max-width: 767px){
    .shade{
        height: 50px;
    }
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .content,.box{
        width: 100%;
    }
    footer .foot-info .row div:first-child{
        border-right: 0px solid #fff;
        margin-bottom: 15px;
    }
    footer .foot-info .row div:last-child{
        padding-left: 15px;
    }
    footer .foot-info{
        margin-top: 30px;
    }
    footer .foot-last .SNS {
        position: absolute;
        top: -50px;
        left: 0;
    }
    footer .foot-last {
        margin-top: 80px;
    }
    #footer{
        height: 376px;
    }
    footer .foot-info{
        width: 100%;
    }
    footer .foot-info p{
        font-size: 12px;
        letter-spacing: 0;
    }
    .card .col-xs-6:nth-child(odd){
        padding-right: 7px;
    }
    .card .col-xs-6:nth-child(even){
        padding-left: 7px;
    }
    footer {
        padding: 35px 5px;
    }
    
}
@media screen and (max-width: 320px){
    #footer{
        height: 410px;
    }
    .card .series .series-text p:last-child{
        height: 40px;
    }
    
}
@media screen and (max-height: 601px) and (min-height: 350px){
    
}