@font-face{
    font-family: DIN-Bold;
    src: url('../fonts/DIN-Bold.otf'),
        url('../fonts/din_regular-webfont.woff'), 
        url('../fonts/din_regular-webfont.woff2'); 
}
@font-face{
    font-family: DIN-Regular;
    src: url('../fonts/DIN-Regular.otf'),
        url('../fonts/din_regular-webfont.woff'), 
        url('../fonts/din_regular-webfont.woff2'); 
}
a:focus{
    outline: none;
}
.gray{
    /* background-image:linear-gradient(-180deg, #fbfbfb 0%, #ffffff 100%); */
    background: #f7f7f7;
}
.white{
    background: #fff;
}
.black{
    background: #000;
}
.grayness{
    background: #D8D8D8;
}
.isShow{
    transform: translate3d(0,30px,0);
    transition: all 1s cubic-bezier(0.38, 0.32, 0.36, 0.98);
    opacity: 0;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}


.hei {
    width: 100%;
    height: 1000px;
    background: #03A9F4;
}

footer{
    background: #003E81;
    padding: 35px 0;
}
footer .foot-info{
    width: 800px;
    margin-top: 45px;
}
footer .foot-info p{
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.19px;
}
footer .foot-info .row div:first-child{
    border-right: 1px solid #fff;
}
footer .foot-info .row div:last-child{
    padding-left: 30px;
}

footer .foot-last{
    margin-top: 50px;
    position: relative;
}
footer .foot-last p{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.73px;
}
footer .foot-last p a{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.73px;
}
footer .foot-last .SNS{
    position: absolute;
    top: 0;
    right: 0;
}
footer .foot-last .SNS a{
    display: inline-block;
    width: 32px;
    height: 32px;
}
footer .foot-last .SNS .wechat{
    background: url('../img/wechat.png')no-repeat center;
}
footer .foot-last .SNS .weibo{
    margin-left: 15px;
    background: url('../img/weibo.png')no-repeat center;
}
#footer{
    width: 100%;
    height: 280px;
    position: absolute;
}

/*电脑*/
@media screen  and (min-width:1400px){
    
}
/*笔记本*/
@media screen and (max-width: 1399px) and (min-width: 1200px){

}
/*横向平板*/
@media screen and (max-width: 1199px) and (min-width: 1023px){

}
/*平板*/
@media screen and (max-width: 1023px) and (min-width: 768px){

}
/*笔记本高度*/
@media screen and (max-height: 767px) and (min-height: 600px){

}
/*手机*/
@media screen and (max-width: 767px){
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .content,.box{
        width: 100%;
    }
    footer .foot-info .row div:first-child{
        border-right: 0px solid #fff;
        margin-bottom: 15px;
    }
    footer .foot-info .row div:last-child{
        padding-left: 15px;
    }
    footer .foot-info{
        margin-top: 30px;
    }
    footer .foot-last .SNS {
        position: absolute;
        top: -50px;
        left: 0;
    }
    footer .foot-last {
        margin-top: 80px;
    }
    #footer{
        height: 358px;
    }
    footer .foot-info{
        width: 100%;
    }
    footer .foot-info p{
        font-size: 12px;
        letter-spacing: 0;
    }
    .card .col-xs-6:nth-child(odd){
        padding-right: 7px;
    }
    .card .col-xs-6:nth-child(even){
        padding-left: 7px;
    }
    
}
@media screen and (max-width: 320px){
    #footer{
        height: 410px;
    }
    .card .series .series-text p:last-child{
        height: 40px;
    }
    
}
@media screen and (max-height: 601px) and (min-height: 350px){
    
}